{% extends 'base.html' %}
  {% block content %}
  <div class="slider">
    <div class="img-responsive">
      <ul class="bxslider">
        <li><img src="/static/img/slider/1.jpg" alt="" /></li>
        <li><img src="/static/img/slider/2.jpg" alt="" /></li>
        <li><img src="/static/img/slider/3.jpg" alt="" /></li>
      </ul>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
          <div class="align-center">
            <h4>Atencion rapida</h4>
            <div class="icon">
              <i class="fa fa-heart-o fa-3x"></i>
            </div>
            <p>
              Rapido se le atiende la solicitud de cita, ademas de la comunicacion entre medicos y pacientes.
            </p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Mas Informacion</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
          <div class="align-center">
            <h4>Hospitales</h4>
            <div class="icon">
              <i class="fa fa-desktop fa-3x"></i>
            </div>
            <p>
              Acceso a hospitales.
            </p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Mas Informacion</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
          <div class="align-center">
            <h4>Ingresa ahora!</h4>
            <div class="icon">
              <i class="fa fa-location-arrow fa-3x"></i>
            </div>
            <p>
              Con este servicio web te mantiene conectado con tu medico personal.
            </p>
            <div class="ficon">
              <a href="#" class="btn btn-default" role="button">Mas Informacion</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="jumbotron">
    <h1>Nosotros podemos <span>ayudar </span> a superarte!</h1>
    <p>Haz click aqui para conocer nuestros servicios</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Empezar</a></p>
  </div>
  {% endblock %}
