{% extends 'base.html' %}
{% load staticfiles %}
    {% block title %}
    Login
    {% endblock %}
    {% block content %}

    {% if user.is_authenticated %}
      <p><h1>Bienvenido {{user.username}}</h1></p>
      <a href = "/logout/">Cerrar sesión</a>

      {% for account in user.socialaccount_set.all %}

        {% ifequal account.provider "facebook" %}

          <p><h4>{{ account.extra_data.first_name }}</h4></p>
          <p><h4>{{ account.extra_data.last_name }}</h4></p>

        {% else %}
          {% ifequal account.provider "google" %}

          <p><h4>{{ account.extra_data.given_name }}</h4></p>
          <p><h4>{{ account.extra_data.family_name }}</h4></p>

          {% endifequal %}
          {% endifequal %}

        <br>
        <p><h4>Cuenta de &emsp;&emsp;: <strong style="text-transform:capitalize;">{{user.socialaccount_set.all.0.provider}}</strong></h4>
        <p><img src="{{user.socialaccount_set.all.0.get_avatar_url}}" width="300px" height="300px"></p>
    {% endfor%}

    {% else %}

    <form method = "POST">
    {% csrf_token %}
      <div class = "form_group">
        <label for = "UserName: ">Nombre Usuario</label>
        <input type = "text" class = "form-control" id="username" name = "username" placeholder="Usuario">
      </div>

      <div class = "form_group">
        <label for = "Password">Contraseña</label>
        <input type = "password" placeholder="Usuario">
      </div>

      <button type = "submit" class = "btn btn-primary btn-lg btn-block">Iniciar sesión</button>
      <button type = "reset" class = "btn btn-warning btn-lg block">Cancelar</button>
    </form>
    {% endif %}

    <p><a href="/">Volver</a></p>

{% endblock %}
